{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
NSMhub
{% endblock %}

{% block register %}
    {% if user.is_authenticated %}
        <p>Already logged in. <a href="../">Click here</a> to go homepage!</p>
    {% else %}
    <form method="post" class="empty-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger">Sign in</button>

        <p style="padding-top: 10px;"> <br>Don't have an account? Create one <a href="/register">here!</a>!</p>
    </form>
    {% endif %}
{% endblock %}
